<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">
    <link rel="manifest" href="/assets/fav/site.webmanifest">
    <link rel="mask-icon" href="/assets/fav/safari-pinned-tab.svg" color="#18181b">
    <meta name="msapplication-TileColor" content="#18181b">
    <meta name="theme-color" content="#18181b">
    {{ feedamic }}

    <title>{{ title ?? site:name }} | {{ publication:name }}</title>

    <meta name="description"
        content="{{ excerpt | strip_tags | safe_truncate:155:... ?? publication:description | strip_tags | safe_truncate:155:... }}" />
    <meta property="og:title" content="{{ title ?? site:name }} | {{ publication:name }}" />
    <meta property="og:description"
        content="{{ excerpt | strip_tags | safe_truncate:155:... ?? publication:description | strip_tags | safe_truncate:155:... }}" />
    {{ if og_image }}
    <meta property="og:image" content="{{ site:permalink }}{{ glide:og_image width=" 1200" }}">
    {{ elseif publication:og_image }}
    <meta property="og:image" content="{{ site:permalink }}{{ glide:publication:og_image width=" 1200" }}">
    {{ /if }}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@palmiak_fp">
    <meta name="twitter:title" content="{{ title ?? site:name }} | {{ publication:name }}">
    <meta name="twitter:description"
        content="{{ excerpt | strip_tags | safe_truncate:155:... ?? publication:description | strip_tags | safe_truncate:155:... }}">
    {{ if og_image }}
    <meta name="twitter:image" content="{{ site:permalink }}{{ glide:og_image width=" 1200" }}">
    {{ elseif publication:twitter_card_image }}
    <meta name="twitter:image" content="{{ site:permalink }}{{ glide:publication:twitter_card_image width=" 1200" }}">
    {{ /if }}

    {{ vite src="resources/css/web.css|resources/js/web.js" }}
    <script data-goatcounter="https://palmiak.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
</head>

<body class="bg-palmiak_bg font-palmiak-font leading-normal text-zinc-300 grid grid-cols-1 gap-10 pt-[180px]">
    {{ partial:partials/header }}

    {{ template_content }}

    {{ partial:partials/footer }}
    {{ partial:partials/circlebg }}
</body>

</html>
