<section class="container mx-auto px-5 max-[660px]:px-0">
    <div
        class="relative overflow-hidden min-h-[670px] min-[1024px]:pl-[500px] max-[1023px]:pb-[480px] max-[660px]:rounded-none max-[1023px]:bg-[length:auto_600px] rounded-2xl grid items-center bg-[#0F0E14] bg-left-bottom bg-no-repeat px-10 py-12 hero-shadow">
        <div class="relative z-20 flex-col justify-center items-start gap-7 flex max-w-[700px]">
            <h1 class="text-3xl md:text-6xl font-bold font-palmiak-font-title m-0">Maciek Palmowski</h1>
            <hr class="gradient-line" />
            <div class="prose lg:prose-xl">
                <p>Turpis diam cras massa congue amet. Mauris <a href="">congue quis orci nunc</a> luctus cursus
                    eget. Iaculis aliquam ipsum tempus neque aliquet elit maecenas. Diam nec consectetur gravida sed
                    lorem. Commodo pellentesque vulputate amet lacus nisl egestas rutrum in duis. Neque fames enim
                    eget id mi mi pulvinar feugiat. Ac non leo id turpis.</p>
            </div>
            <div class="justify-start items-center gap-5 inline-flex max-[660px]:flex max-[660px]:flex-col w-full max-[660px]:items-start min-[1000px]:flex min-[1000px]:flex-col min-[1250px]:inline-flex min-[1000px]:items-start min-[1250px]:flex-row">
                <a href=""
                    class="h-[62px] flex rounded-full bg-gradient-to-r from-palmiak_pink via-palmiak_green to-palmiak_blue p-[1px]">
                    <div class="text-white text-base font-bold font-palmiak-font-title tracking-wide flex rounded-full h-full items-center justify-center bg-palmiak_bg back px-5 transition-all duration-150 hover:bg-opacity-80 text-[15px]">more about me</div>
                </a>

                <div class="justify-start items-center gap-5 inline-flex">
                    <a href="" class="rounded-full w-[62px] h-[62px] bg-palmiak_pink flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ svg src="linkedin" class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2" }}
                    </a>

                    <a href="" class="rounded-full w-[62px] h-[62px] bg-palmiak_green flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ svg src="iks" class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2" }}
                    </a>

                    <a href="" class="rounded-full w-[62px] h-[62px] bg-palmiak_blue flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ svg src="insta" class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2" }}
                    </a>
                </div>
            </div>
        </div>
        <picture class="absolute bottom-0 left-0 rounded-2xl z-10">
            <img src="/images/heroop.png" alt="" class="block h-auto" quality="100" format="webp">
        </picture>
    </div>
</section>
