<div
    class="blog-item gradient-border p-7 bg-palmiak_bg border border-indigo-950 border-opacity-50 flex-col justify-start items-start gap-9 inline-flex">
    <a href="{{ url }}">
        <picture class="rounded-md block palmiak-image">
            <img srcset="{{ glide :src="thumbnail" w="700" h="350" format="webp"}}" width="700" height="350" alt="{{ title }}" class="rounded-2xl" {{if lazy=="true" }} loading="lazy"{{/if}}>
        </picture>
    </a>
    {{ if tags }}
    <div class="blog-item-tags justify-start items-center gap-5 inline-flex max-[700px]:hidden">
        {{ tags }}
            {{ partial:partials/blogitem-tag }}
        {{ /tags }}
    </div>
    {{ /if }}
    <div class="self-stretch flex-col justify-start items-start gap-5 flex">
        <h2 class="text-2xl md:text-4xl font-bold font-palmiak-font-title m-0"><a href="{{ url }}" class="text-white transition-all duration-150 hover:text-palmiak_green">{{ title }}</a></h2>
        <div class="self-stretch text-white text-sm font-medium font-palmiak-font leading-normal tracking-widest">
            {{ date format="Y - m - d" }}</div>
        <hr class="gradient-line" />
        <div class="self-stretch text-white text-lg font-normal font-palmiak-font leading-loose">
            {{ if excerpt }}
                {{ excerpt | strip_tags | safe_truncate:280:... }}
            {{ else }}
                {{ post_excerpt :id="id" }}
        {{ /if }}
        </div>
    </div>
    <a href="{{ url }}" class="text-palmiak_blue text-sm font-bold font-palmiak-font-title tracking-wide relative pr-[20px] transition-all duration-150 after:transition-all after:duration-150 after:w-[0px] hover:after:w-[25px] after:h-[1px] after:bg-palmiak_blue after:absolute after:top-[10px] after:left-0 hover:pl-[37px]">
        read more

        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-1/4 right-0">
            <path
                d="M8.07119 5.96474H0.134644V5.03208H8.07119L4.33593 1.29681L5.00001 0.634644L9.86538 5.50001L5.00001 10.3654L4.33593 9.70321L8.07119 5.96474Z"
                class="fill-palmiak_blue" />
        </svg>
    </a>
</div>
