<footer class="">
    <div class="flex max-lg:flex-col items-center mx-auto max-w-6xl px-5 pt-10 pb-5">
        <div class="flex-1 max-lg:mb-7">
            <a href="/" class="block" aria-label="Return to the homepage">
                {{ svg src="logo" }}
            </a>
        </div>

        <ul class="justify-start items-center gap-5 inline-flex max-lg:flex max-lg:flex-col  max-lg:gap-3 font-bold font-palmiak-font tracking-widest">
            <li>
                <a href="/"
                    class="text-white text-[13px] transition-all duration-150 hover:text-palmiak_green">
                    home
                </a>
            </li>
            <li>
                <a href="{{ link to="/blog" }}"
                    class="text-white text-[13px] transition-all duration-150 hover:text-palmiak_green">
                    blog
                </a>
            </li>
            <li>
                <a href="{{ link to="/goals/2024" }}"
                    class="text-white text-[13px] transition-all duration-150 hover:text-palmiak_green">
                    goals
                </a>
            </li>
            <li>
                <a href="https://codeandcoffeeshow.dev/"
                    class="text-white text-[13px] transition-all duration-150 hover:text-palmiak_green"
                    target="about:blank">
                    code & coffee show
                </a>
            </li>
            <li>
                <a href="https://newsletter.maciekpalmowski.dev/"
                    class="text-white text-[13px] transition-all duration-150 hover:text-palmiak_green"
                    target="about:blank">
                    newsletter
                </a>
            </li>
            <li>
                <div class="justify-start items-center gap-5 inline-flex max-lg:mt-7">
                    <a href="https://bsky.app/profile/maciekpalmowski.dev" target="about:blank"
                    aria-label="Bluesky"
                    class="rounded-full w-[62px] h-[62px] bg-palmiak_limedark    flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ unicon name='mingcute:bluesky-social-line' class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2 w-[30px] h-[30px]" }}
                    </a>

                    <a href="https://twitter.com/palmiak_fp" target="about:blank"
                    aria-label="Twitter / X"
                    class="rounded-full w-[62px] h-[62px] bg-palmiak_green flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ unicon name='mingcute:social-x-line' class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2 w-[30px] h-[30px]" }}
                    </a>

                    <a href="https://www.linkedin.com/in/maciekpalmowski/"
                    aria-label="Linkedin"
                    target="about:blank" class="rounded-full w-[62px] h-[62px] bg-palmiak_pink flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ unicon name='mingcute:linkedin-line' class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2 w-[30px] h-[30px]" }}
                    </a>

                    <a href="https://github.com/palmiak"
                    aria-label="GitHub"
                    target="about:blank" class="rounded-full w-[62px] h-[62px] bg-palmiak_blue flex relative transition-all duration-150 hover:bg-palmiak_lightdark hover:bg-opacity-40">
                        {{ unicon name='mingcute:github-line' class="absolute inset-1/2 -translate-y-1/2 -translate-x-1/2 w-[30px] h-[30px]" }}
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="flex items-center justify-end max-lg:justify-center mx-auto max-w-6xl px-5 pt-5 pb-10 max-lg:text-center">
        <p class="text-[14px] text-white">
            Copyright &copy; {{ now format="Y" }} by {{ publication:name }}. Design & code by <a href="https://agnieszkapalmowska.myportfolio.com/" target="_blank" class="underline hover:text-white transition-all duration-150">Agnieszka Palmowska Design</a>.
        </p>
    </div>
</footer>
