<header class="fixed z-40 top-0 left-0 w-full bg-zinc-900/90 backdrop-blur-[10px]">
    <div class="flex items-center mx-auto max-w-6xl px-6 py-10">
        <div class="flex-1">
            <a href="{{ link to="/" }}" class="block" aria-label="Return to the homepage">
                {{ if publication:name }}

                <svg viewBox="0 0 28 22" fill="none" class="max-h-10">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6 7.2999L8.70002 4.3999L2.40002 10.7999L0.400024 12.7999L8.70002 21.1999L11.6 18.2999L6.00002 12.7999L11.6 7.2999Z" fill="url(#paint0_linear_299_100)"/>
                    <path d="M6.20012 7.00005L3.20012 10L6.00012 12.8L9.00012 9.80005L6.20012 7.00005Z" fill="url(#paint1_linear_299_100)" fill-opacity="0.56" style="mix-blend-mode:multiply"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0L15.3 2.9L20.8 8.4L15.3 13.8L18.1 16.7L24.4 10.4L26.5 8.4L18.1 0Z" fill="url(#paint2_linear_299_100)"/>
                    <path d="M20.8 8.3999L17.8 11.3999L20.6 14.1999L23.6 11.1999L20.8 8.3999Z" fill="url(#paint3_linear_299_100)" fill-opacity="0.56" style="mix-blend-mode:multiply"/>
                    <defs>
                    <linearGradient id="paint0_linear_299_100" x1="4.62582" y1="21.1963" x2="8.93752" y2="3.6411" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FA8BFF"/>
                    <stop offset="0.5279" stop-color="#2BD2FF"/>
                    <stop offset="1" stop-color="#2BFF88"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_299_100" x1="4.60532" y1="11.4492" x2="7.60812" y2="8.44645" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_299_100" x1="18.2024" y1="16.4592" x2="22.53" y2="-1.1254" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FA8BFF"/>
                    <stop offset="0.5279" stop-color="#2BD2FF"/>
                    <stop offset="1" stop-color="#2BFF88"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_299_100" x1="22.1948" y1="9.7507" x2="19.1921" y2="12.7535" gradientUnits="userSpaceOnUse">
                    <stop/>
                    <stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
                    </linearGradient>
                    </defs>
                </svg>


                {{ else }}
                {{ publication:name }}
                {{ /if }}
            </a>
        </div>

        <div class="pl-5 relative sm:hidden" x-data="{ open : false }">
            <button class="block cursor-pointer p-2 bg-zinc-800 rounded-lg" aria-label="Menu" @click="open = true">
                {{ svg src="/assets/icons/more-vertical.svg" class="h-6 w-6" }}
            </button>

            <div x-show="open" @click.outside="open = false" x-transition
                class="absolute top-10 right-0 shadow-lg bg-zinc-700 rounded-lg p-1 max-w-[280px] min-w-[120px] sm:static sm:block">
                <ul class="font-bold font-palmiak-font tracking-widest">
                    {{ nav:top_nav select="title|url" }}
                    <li>
                        <a href="{{ url }}"
                            class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green">{{
                            title }}</a>
                    </li>
                    {{ /nav:top_nav }}
                    {{ if publication:show_tags_navigation }}
                    <li>
                        <a href="{{ link to=" posts/tags" }}"
                            class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green">Tags</a>
                    </li>
                    {{ /if }}
                </ul>
            </div>
        </div>

        <ul class="hidden sm:inline-flex font-bold items-center font-palmiak-font text-sm tracking-widest">
            {{ nav:top_nav select="title|url" }}
            <li class="ml-5">
                <a href="{{ url }}"
                    class="text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green">{{
                    title }}</a>
            </li>
            {{ /nav:top_nav }}
            {{ if publication:show_tags_navigation }}
            <li class="ml-5">
                <a href="{{ link to=" posts/tags" }}"
                    class="text-white hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green transition-colors">Tags</a>
            </li>
            {{ /if }}
        </ul>
    </div>
</header>
