<header class="fixed z-40 top-0 left-0 w-full bg-palmiak_bg/80 backdrop-blur-[10px]">
    <div class="flex items-center mx-auto max-w-6xl px-5 py-8">
        <div class="flex-1">
            <a href="{{ link to="/" }}" class="block" aria-label="Return to the homepage">
                {{ svg src="logo" }}
            </a>
        </div>

        <div class="pl-5 relative lg:hidden" x-data="{ open : false }">
            <button class="block cursor-pointer p-3 bg-palmiak_lightdark rounded-full" aria-label="Menu" @click="open = true">
                {{ svg src="/assets/icons/more-vertical.svg" class="h-6 w-6" }}
            </button>

            <div x-show="open" @click.outside="open = false" x-transition
                class="absolute top-[55px] right-0 shadow-lg bg-palmiak_lightdark rounded-lg p-1 max-w-[280px] min-w-[120px] lg:static lg:block">
                <ul class="font-bold font-palmiak-font tracking-widest">
                    <li>
                        <a href="{{ link to="/" }}"
                            class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green">
                            home
                        </a>
                    </li>
                    <li>
                        <a href="{{ link to="/blog" }}"
                        class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green">
                            blog
                        </a>
                    </li>
                    <li>
                        <a href="https://codeandcoffeeshow.dev/"
                        class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green"
                            target="about:blank">
                            code & coffee show
                        </a>
                    </li>
                    <li>
                        <a href="https://newsletter.maciekpalmowski.dev/"
                        class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green"
                            target="about:blank">
                            newsletter
                        </a>
                    </li>
                    <li>
                        <a href="{{ link to="/contact-me" }}"
                        class="px-3 py-1 whitespace-nowrap block rounded-lg text-white transition-colors hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-palmiak_blue hover:to-palmiak_green">
                            contact me
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <ul class="hidden justify-start items-center gap-5 lg:inline-flex font-bold font-palmiak-font tracking-widest">
            <li>
                <a href="{{ link to="/" }}"
                    class="text-white text-[15px] transition-all duration-150 hover:text-palmiak_green">
                    home
                </a>
            </li>
            <li>
                <a href="{{ link to="/blog" }}"
                    class="text-white text-[15px] transition-all duration-150 hover:text-palmiak_green">
                    blog
                </a>
            </li>
            <li>
                <a href="https://codeandcoffeeshow.dev/"
                    class="text-white text-[15px] transition-all duration-150 hover:text-palmiak_green"
                    target="about:blank">
                    code & coffee show
                </a>
            </li>
            <li>
                <a href="https://newsletter.maciekpalmowski.dev/"
                    class="text-white text-[15px] transition-all duration-150 hover:text-palmiak_green"
                    target="about:blank">
                    newsletter
                </a>
            </li>
            <li>
                <a href="{{ link to="/contact-me" }}"
                    class="h-[62px] flex rounded-full bg-gradient-to-r from-palmiak_pink via-palmiak_green to-palmiak_blue p-[1px]">
                    <div class="text-white text-base font-bold font-palmiak-font-title tracking-wide flex rounded-full h-full items-center justify-center bg-palmiak_bg back px-5 transition-all duration-150 hover:bg-opacity-80 text-[15px]">contact me</div>
                </a>
            </li>
        </ul>
    </div>
</header>
