<div class="container mx-auto px-5">
    <div
        class="p-10 max-[700px]:p-7 bg-gradient-to-r from-palmiak_blue via-palmiak_green to-palmiak_pink rounded-2xl justify-start items-center grid grid-cols-1 min-[1024px]:grid-cols-2 gap-7 mt-10">
        <div class="grow shrink basis-0 flex-col justify-start items-start gap-5 inline-flex">
            <div class="text-white text-2xl md:text-4xl font-bold font-palmiak-font-title">Subscribe to my newsletter
                and stay updated.</div>
            <div class="self-stretch text-white text-lg font-normal font-palmiak-font leading-loose">Get an weekly
                email with news from around the web<br />Get updated about new blog posts<br />No spam</div>
        </div>
        <form
            class="grow shrink basis-0 p-4 md:p-7 max-[700px]:p-0 bg-white bg-opacity-5 max-[700px]:bg-opacity-0 rounded-2xl border max-[700px]:border-none border-white border-opacity-20 flex-col justify-start items-center gap-3.5 inline-flex">
            <div
                class="self-stretch px-8 py-5 max-[700px]:p-2 bg-white rounded-3xl justify-center items-center gap-2.5 inline-flex">
                <input type="text" placeholder="example@gmail.com"
                    class="border-none outline-none grow shrink basis-0 self-stretch text-center text-palmiak_bg text-lg font-normal font-palmiak-font leading-loose"/>
            </div>
            <button type="submit"
                class="self-stretch text-white text-base font-medium font-palmiak-font-title tracking-wide px-8 py-5 bg-palmiak_bg rounded-3xl justify-center items-center gap-2.5 inline-flex transition-all duration-150 hover:bg-opacity-75">
                subscribe now!
            </button>
        </form>
    </div>
</div>