<div id="revue-embed" class="p-5">
    <h2 class="text-white pt-0 mt-0">Never miss a post</h2>
    <ul class="text-white">
        <li>Get an weekly email with news from around the web</li>
        <li>Get updated about new blog posts</li>
        <li>No spam</li>
    </ul>
    <form action="http://newsletter.maciekpalmowski.dev/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
    <div class="revue-form-group flex flex-wrap">
      <input class="revue-form-field flex-1 p-2 text-black" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
      <input type="submit" class="text-white p-2 border-2 border-white flex-2" value="Subscribe" name="member[subscribe]" id="member_submit">
    </div>
    <div class="revue-form-actions">

    </div>
    </form>
</div>
