<div id="revue-embed" class="p-5">
    <h2 class="text-white pt-0 mt-0">Never miss a post</h2>
    <ul class="text-white">
        <li>Get an weekly email with news from around the web</li>
        <li>Get updated about new blog posts</li>
        <li>No spam</li>
    </ul>
    <div id="custom-substack-embed"></div>

<script>
 window.CustomSubstackWidget = {
  substackUrl: "palmiakfp.substack.com",
  placeholder: "example@gmail.com",
  buttonText: "Subscribe",
  theme: "custom",
  colors: {
    primary: "#FFFFFF",
    input: "#000000",
    email: "#FFFFFF",
    text: "#000000",
  }
};
</script>
<script src="https://substackapi.com/widget.js" async></script>
</div>
