<a href=""
    class="px-4 pr-6 py-3 bg-palmiak_bg border border-indigo-950 border-opacity-50 rounded-full justify-start items-center gap-7 flex hover:bg-palmiak_lightdark transition-all duration-150 hover:bg-opacity-50">
    <img class="w-16 h-16 rounded-full"
        src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?q=80&w=66&h=66&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <div class="text-white text-md font-bold font-palmiak-font-title">Sed imperdiet</div>
</a>