<a href="/posts{{ url }}"
    class="px-4 pr-6 py-3 bg-palmiak_bg border border-indigo-950 border-opacity-50 rounded-full justify-start items-center gap-7 flex hover:bg-palmiak_lightdark transition-all duration-150 hover:bg-opacity-50">
    <img class="w-16 h-16 rounded-full"
        alt="{{ title }}"
        src="{{ glide :src="image" w="66" h="66" format="webp"}}" width="66" height="66" loading="lazy"
        />
    <div class="text-white text-md font-bold font-palmiak-font-title">{{ title }}</div>
</a>
