<article class="container mx-auto max-w-[1400px] grid grid-cols-1 gap-8 justify-items-center">
    <div class="max-w-3xl mx-auto grid grid-cols-1 gap-7 px-5">
        {{ if tags }}
        <div class="blog-item-tags justify-start items-center gap-5 inline-flex">
            {{ tags }}
            <a href="{{ url }}" class="">
                <div class="text-white text-xs font-normal font-palmiak-font-title tracking-wide">{{ title }}</div>
            </a>
            {{ /tags }}
        </div>
        {{ /if }}

        <h1 class="text-2xl md:text-5xl font-bold font-palmiak-font-title m-0 leading-tight text-white">{{ title }}</h1>
        <hr class="gradient-line" />

        <div>
            {{ if publication:show_post_author }}
                Written by <strong class="text-white text-sm font-medium font-palmiak-font leading-normal tracking-widest">{{ author:name }}</strong><br>
                <span class="text-white text-sm font-medium font-palmiak-font leading-normal tracking-widest">on {{ date format="Y - m - d" }}</span>
            {{ else }}
                <span class="text-white text-sm font-medium font-palmiak-font leading-normal tracking-widest">{{ date format="Y - m - d" }}</span>
            {{ /if }}
        </div>
    </div>

    {{ if thumbnail }}
    <div class="blog-item gradient-border p-7 bg-palmiak_bg border border-indigo-950 border-opacity-50 max-w-[95vw]">
        <picture class="rounded-md block mb-0 palmiak-image">
            <source media="(max-width:640px)" srcset="{{ glide :src="thumbnail" w="640" h="320" format="webp"}}" width="640" height="320" >
            <source media="(min-width: 641px) and (max-width:800px)" srcset="{{ glide :src="thumbnail" w="800" h="360" format="webp" }}" width="800" height="360" >
            <img srcset="{{ glide :src="thumbnail" w="1400" h="700" format="webp"}}" width="1400" height="700" alt="{{ title }}" class="rounded-md">
        </picture>
    </div>
    {{ /if }}

    <div class="px-5 prose-post">
        {{ if intro }}
            <p class="text-2xl text-white font-bold">{{ intro | nl2br | emojify }}</p>
        {{ /if }}

        {{ content }}
            {{ partial src="sets/{type}" }}
        {{ /content  }}
    </div>

    {{ partial:partials/newsletterbox }}

    <div class="max-w-3xl w-full mx-auto grid grid-cols-1 gap-7 px-5">
        <h2 class="text-xl md:text-2xl font-bold font-palmiak-font-title mt-10 text-white">Share your thoughts</h2>
        <hr class="gradient-line" />
        <script src="https://giscus.app/client.js"
            data-repo="palmiak/blog-comments"
            data-repo-id="R_kgDOKSw90A"
            data-category="General"
            data-category-id="DIC_kwDOKSw90M4CZQxJ"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="transparent_dark"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</article>

<div class="mt-20 text-center flex items-center justify-center px-5">
    <div class="mx-2">
        <a href="/blog" class="inline-flex items-center border border-zinc-700 text-sm px-4 py-2 rounded-full transition-colors hover:text-emerald-50 hover:border-zinc-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1">
                <line x1="19" y1="12" x2="5" y2="12"></line>
                <polyline points="12 19 5 12 12 5"></polyline>
            </svg>
            All Articles
        </a>
    </div>

    <div class="mx-2 relative" x-data="{ open: false }">
        <span @click="open = ! open" class="inline-flex items-center border border-zinc-700 text-sm px-4 py-2 rounded-full transition-colors cursor-pointer hover:text-emerald-50 hover:border-zinc-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1">
                <circle cx="18" cy="5" r="3"></circle>
                <circle cx="6" cy="12" r="3"></circle>
                <circle cx="18" cy="19" r="3"></circle>
                <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
            </svg>
            Share
        </span>

        <div x-show="open" @click.outside="open = false" x-transition class="absolute bottom-14 -left-[40px] shadow-lg bg-zinc-700 p-1 rounded-lg w-[180px] text-sm" style="display:none;">
            <ul class="text-left">
                <li>
                    <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ current_url }}" rel="noopener" target="_blank" class="px-3 py-1 block hover:bg-zinc-600 transition-colors rounded-lg hover:text-white">
                        Share on Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}" rel="noopener" target="_blank" class="px-3 py-1 block hover:bg-zinc-600 transition-colors rounded-md hover:text-white">
                        Share on Facebook
                    </a>
                </li>
                <li>
                    <a href="mailto:info@example.com?&subject={{ title }}&cc=&bcc=&body={{ current_url }}" rel="noopener" class="px-3 py-1 block hover:bg-zinc-600 transition-colors rounded-md hover:text-white">
                        Share via Email
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "datePublished": "{{ date format="Y-m-d"  }}",
        "dateModified": "{{ updated_at format="Y-m-d" }}"
    }
</script>
