<div class="text-center mb-20">
    <h1>
        <span class="text-zinc-300">#</span>{{ title }}
    </h1>
</div>

{{ entries sort="date:desc" paginate="100" }}
    {{ results }}
    {{ partial:partials/list-item }}
    {{ /results }}

        {{ if total_items > 2 }}
            <div class="mt-10 text-center">
                <ul class="inline-flex items-center justify-center">
                    {{ if prev_page }}
                        <li class="mx-2">
                            <a href="/posts/tags/{{taxonomy_name}}/{{ better_pagination:prev
                                :page="current_page"
                            }}" class="block px-3 py-2 border border-zinc-800 rounded-lg hover:text-white hover:border-zinc-700 transition-colors">
                                {{ svg src="/assets/icons/arrow-left.svg" class="h-5 w-5" }}
                            </a>
                        </li>
                    {{ else }}
                        <li class="mx-2">
                            <span class="block px-3 py-2 border border-zinc-800 rounded-lg opacity-70">
                                {{ svg src="/assets/icons/arrow-left.svg" class="h-5 w-5" }}
                            </span>
                        </li>
                    {{ /if }}

                    <li class="text-sm mx-5">
                        {{ current_page }} / {{ total_pages }}
                    </li>

                    {{ if next_page }}
                        <li class="mx-2">
                            <a href="/posts/tags/{{ slug }}{{ better_pagination:next
                                :page="current_page"
                            }}" class="block px-3 py-2 border border-zinc-800 rounded-lg hover:text-white hover:border-zinc-700 transition-colors">
                                {{ svg src="/assets/icons/arrow-right.svg" class="h-5 w-5" }}
                            </a>
                        </li>
                    {{ else }}
                        <li class="mx-2">
                            <span class="block px-3 py-2 border border-zinc-800 rounded-lg opacity-70">
                                {{ svg src="/assets/icons/arrow-right.svg" class="h-5 w-5" }}
                            </span>
                        </li>
                    {{ /if }}
                </ul>
            </div>
        {{ /if }}
    {{ /paginate }}
{{ /entries }}
